body {
    font-family: sans-serif;
    background-image: url("/static/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff89d;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 1400px;
    box-sizing: border-box;
}

.title-image {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
}


h1 {
    color: #333;
    margin: 25px;

}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    margin-bottom: 20px;
}

.input-container {
    background-color:#ffc9d1;
    width: 49%;
    padding: 50px;
    border: 4px solid #681d5d; 
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.2em;
    min-height: 400px;
    position: relative; 
    display: flex;          
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;   
}



.download-image {
    width: 49%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.input-container.highlight { 
    
    background-color: #f7b1bc;
}

.result-container {
    background-color:#b5e4ec;
    width: 49%;
    padding: 50px;
    border: 4px solid rgb(5, 100, 129);
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.2em;
    min-height: 400px;
    display: flex;          
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;   
}


.input-area {
    margin-bottom: 20px;
}

.custom-file-upload {
    border: 2px solid #3d0944;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #9757a7; 
    color: #fff4e7;   
    border-radius: 5px;
    font-size: 1.1em;
}

.custom-file-upload:hover{
opacity: 0.85;

}

#fileInput {
    display: none;
}

#previewImage {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    display: none;
}

#predictButton {
    background-color: #4faeca;
    border: 2px solid rgb(5, 100, 129);
    color: #fffcfc;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top:20px;
}

#predictButton:hover {
    opacity:0.85;
}

#result {
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
}

#emojiDisplay {
    font-size: 5em;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.5em;
}

#dropArea p {
  margin-top: auto;
  margin-bottom: 10px;
  color: #3d3934;
}

.input-container{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}


@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .input-container,
    .result-container {
        width: 95%;
        margin-bottom: 25px;
        padding: 30px;
        font-size: 1em;
        min-height: auto;
    }
    #emojiDisplay {
        font-size: 4em;
    }
    .custom-file-upload {
        font-size: 1em;
        padding: 6px 12px;
    }
    #predictButton {
        font-size: 1.1em;
        padding: 10px 20px;
    }
    h2 {
        font-size: 1.3em;
    }
}
