<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emotion Recognition</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Emotion Recognition</h1>

        <div class="upload-box">
            <input type="file" id="fileInput" accept="image/*">
            <button onclick="upload()">Predict Emotion</button>
        </div>

        <pre id="result"></pre>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
